.contact-main-content {
    padding: 150px 20% 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title-container {
    padding: 0 10% 0 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: large;
}

.contact-title {
    font-size: clamp(1rem, 10vw, 4rem);
    margin: 0;
}

.contact-details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: auto;
}

.contact-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px) {
    .contact-main-content {
        padding: 150px 10% 50px;
    }

    .contact-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
}