.work-main-content {
    padding: 150px 15% 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-title-container {
    padding: 0 20% 0 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
}

.work-title {
    font-size: clamp(1rem, 10vw, 4rem);
    margin: 0;
}

.work-company-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    margin-top: 50px;
}

.work-company-container {
    display: flex;
    gap: 2rem;
}

.work-company-tag {
    display: inline-block;
    padding: 5px;
    margin: 0;
    border-radius: 10px;
}

.work-company-tag.texada {
    background-color: #FFF6E9;
    color: orange;

}

.work-company-tag.autotrader {
    background-color: #FFCDCD;
    color: red;
}

.work-company-tag.shoplogix {
    background-color: #D0E6FF;
    color: blue;
}

.work-company-tag.westar {
    background-color: #E0FFF8;
    color: green;
}

.work-company-description {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: larger;
}

.work-company-images {
    flex: 1;
    max-width: 400px;
}

img {
    width: 100%;
    height: auto;
}

button {
    width: 100%;
    height: auto;
}

.work-company-button {
    color: white;
    font-size: medium;
    max-width: 164.89px;
    height: 38px;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
}

.work-company-button.texada {
    background-color: orange;

}

.work-company-button.autotrader {
    background-color: red;
}

.work-company-button.shoplogix {
    background-color: blue;
}

.work-company-button.westar {
    background-color: #2AB090;
}


@media (max-width: 768px) {
    .work-title-container {
        padding: 0;
    }

    .work-company-container {
        flex-direction: column;
    }

    .work-company-list {
        margin-top: 30px;
        gap: 5rem;
    }

    .work-company-images {
        order: -1;
    }
}